body {
    background-color: hsl(0, 0%, 81%);
    font-size: 13px;
    
}

.container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2 1fr);
    grid-auto-flow: column;
    justify-content: start;
    background-color: #c4d5e0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.item1 {
    background-color: hsl(263, 55%, 52%);
    padding: 20px;
    border-radius: 5px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    color: hsl(0, 0%, 100%);
    /* background: image('images/bg-pattern-quotation.svg'); */
}
.container .quotation {
    position: absolute;
    top: 40px;
    right: 800px; 
}

.container .image{
    border-radius: 50%;
    border: 2px solid #fff;
}

.container .header {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 10px;
}

.item2 {
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    border-radius: 5px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    color: hsl(0, 0%, 100%);
}

.item3 {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 5px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: hsl(217, 19%, 35%);
}

.item4 {
    background-color: hsl(219, 29%, 14%);
    padding: 20px;
    border-radius: 5px;
    grid-column: 2 / span 2;
    grid-row: 2/ span 1;
    color: hsl(0, 0%, 100%);
}

.item5 {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 5px;
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    color: hsl(217, 19%, 35%);
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .container {
            grid-template-columns: 1fr;
        }
    
        .item1,
        .item2,
        .item3,
        .item4,
        .item5 {
            grid-column: 1 / span 1;
             min-height: 50px;
        }
}